@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body,
html,
#root {
    font-family: 'Mukta', sans-serif;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    @apply bg-gray-900 text-white text-base;
}

* {
    box-sizing: border-box;
}

input,
select {
    @apply text-base rounded p-2 bg-gray-800 bg-opacity-100 border border-gray-800 my-2 text-white outline-none w-full;
}
